body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

.container{
    margin-top:50px;
}

img{
    border-radius:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

#result{
    margin-top:20px;
    font-size:20px;
}

.result-card{
    background:white;
    padding:20px;
    width:350px;
    margin:20px auto;
    border-radius:10px;
    box-shadow:0px 2px 8px rgba(0,0,0,0.2);
}